html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

::selection {
    background-color: hsla(0, 0%, 66.7%, 0.99);
    color: #000;	
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: var(--color, #aaa);
	background-color: var(--background, #000);
	font-size: calc(var(--size, 1)* 12px);
}

body {
	display: flex;
	gap: 2px;
	font-family: monospace;
	color: white;
	background: black;
}

#a, #b{
  height: 100dvh;
  border: 1px solid white;
}

#onlineusers, #offlineusers, #dm, #chats {
	padding-left: 10px;
}

.side {
	display: flex;
	flex-direction: column;
	gap: 2px;
}


#c, #d {
	min-height: 10dvh;	
	max-height: 50dvh;
	border: 1px solid white;
	padding: 10px;
}

#a, #c {
	width: 20dvw;
}

#b {
	width: 60dvw;
}

#b .terminal-output {
	display: flex;
	gap: 2px;
	flex-direction: column;
}

span {
	color: #aaa;
}

@media (max-width: 768px) {
    body {
        flex-direction: column-reverse;
    }
    #a, #b, #c, #d {
    	width: 100dvw;
    }
    #a, #c, #d {
    	display: none;
    }
}